{% extends "structure.html" %}
{% block header %}
<div class="container">
    <p class="navbar-text navbar-right"><a href="/" id="welcome">Sign in</a></p>
</div>
{% endblock %}

{% block invent %}
<br><h2 class="heading">About Us</h2>
<div class="about">
	<h3 align="center" class="about-head">InvEnt connects Entrepreneurs with the Investors across the world</h3>
	<p class="about-para">InvEnt is the world’s largest network connecting the early stage ecosystem, with a number of investors joining every month from around the world. It is an online matching service that connects entrepreneurs seeking to raise investment with investors that have been vetted.<br><br>Whether you are an investor seeking to build your portfolio with potentially high-return investment opportunities, or an entrepreneur seeking resources to build your company, InvEnt can help you.<br><br>InvEnt in addition to money, provides constant access to high quality mentoring, vast networks and inputs on strategy as well as execution. The Network members, because of their background are better able to assess the potential and risks at the early stage.</p>
</div>
{% endblock %}