{% extends "structure.html" %}
{% block header %}
<div class="container">
    <p class="navbar-text navbar-right" id="welcome">Welcome <b>{{ firstname }}</b> <a href="/" id="log">Logout</a></p>
</div>
{% endblock %}

{% block invent %}
	<div class="form-group" style="margin-top: 100px; width : 400px; margin-right : 100px; float : right;">
		<form action="" method="post">
			<legend>Please enter your details here</legend>
			<div class="form-group form-group-lg">
                <label for="firstname">First Name:</label>
				<input type="text" id="firstname" name="firstname" placeholder="Enter your First Name" class="form-control">
			</div>
			<div class="form-group form-group-lg">
                <label for="lastname">Last Name:</label>
				<input type="text" id="lastname" name="lastname" placeholder="Enter your Last Name" class="form-control">
			</div>
			<div class="form-group form-group-lg">
                <label for="heading">Heading:</label>
				<input type="text" id="heading" name="heading" placeholder="Enter a Heading for your Project" class="form-control">
			</div>
			<div class="form-group form-group-lg">
                <label for="project_desc">Project Description:</label>
				<textarea id="project_desc" rows="5" cols="50" name="project_desc" placeholder="Enter the Project Description" class="form-control"></textarea>
			</div>
			<div class="form-group form-group-lg">
                <label for="web_link">Website Address:</label>
				<input type="text" id="web_link" name="web_link" placeholder="Enter the Website Address (Optional)" class="form-control">
			</div>
 
			<!-- <input type="file" id="image" name="image" accept="image/*" class="upload_img" multiple>
			<input type="submit" value="Upload Image" class="upload_img"><br><br>
			<input type="file" id="video" name="video" accept="video/*" class="upload_vdo" multiple>
			<input type="submit" value="Upload Video" class="upload_vdo"><br><br> -->

			<div class="form-group form-group-lg">
                <label for="pitch_msg">Pitch Message:</label>
				<textarea id="pitch_msg" rows="5" cols="50" name="pitch_msg" placeholder="Enter your Pitch Message" class="form-control"></textarea>
			</div>
			<div class="form-group">
                <p class="text-center">
                    <input id="button2" name="button2" class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </p>
            </div>
		</form>
	</div>
{% endblock %}