{% extends "structure.html" %}
{% block header %}
<div class="container">
    <p class="navbar-text navbar-right"><a href="/" id="welcome">Sign in</a></p>
</div>
{% endblock %}

{% block invent %}
<br><h2 class="heading">Entrepreneurs</h2>
<div class="about">
	<h3 align="center" class="about-head">Raise Capital from Angel Investors and get Mentorship</h3>
	<p class="about-para">This platform is for all the Entrepreneurs which have potential to create disproportionate value. If you are seeking to raise investment to establish your company, develop an idea or require funding to grow your existing business then InvEnt is the place for you.<br><br>Whether you are seeking to raise funding for Property development, a technology project, or even looking to raise investment for your established business, we can find the right investor for you, no matter how niche your business is.<br><br>Finding the right investor for your business will not only provide you with the funding you require but also with the experience and mentorship that can really take your business to the next level.</p>
</div>
{% endblock %}