{% extends "structure.html" %}
{% block header %}
<div class="container">
    <p class="navbar-text navbar-right"><a href="/" id="welcome">Sign in</a></p>
</div>
{% endblock %}

{% block invent %}
	<div style="margin-top: 100px; margin-bottom: 100px; width : 450px; margin-right : 100px; float : right;">
		<h3>Sign In to your Investor's Account</h3><br>
		<form action="" method="post">
			<input type="text" id="username" name="username" placeholder="Username" value="{{ request.form.username }}"><br><br>
			<input type="password" id="password" name="password" placeholder="Password" value="{{ request.form.password }}">
			<br><br>
			<input type="submit" id="login-submit" value="Sign In" class="btn btn-primary">
		</form>
    </div>
{% endblock %}