{% extends "structure.html" %}
{% block header %}
<div class="container">
    <p class="navbar-text navbar-right"><a href="/" id="welcome">Sign in</a></p>
</div>
{% endblock %}

{% block invent %}
<br><h2 class="heading">Investors</h2>
<div class="about">
	<h3 align="center" class="about-head">Invest in Startups and Mentor Entrepreneurs</h3>
	<p class="about-para">Build your portfolio with potentially high-return investment opportunities. Get access to a large number of startups as you can get all the information, about the entrepreneurs, you need to make a decision for investment.<br><br>We want to have members who are involved in the Network strategy, operations, and actually invest through it. However, some members may spend disproportionate time on not only deal progression and closure but also in adding value to the business going forward. Each Investor will be free to make his or her individual decision on investing in any given opportunity.<br><br>All the members are inducted in their individual capacities or as representatives of their organizations. All the details of the entrepreneurs will be provided here. If any member (institutional or individual) has any interest in a particular deal as an investor, he/she would need to bid upon that idea.</p>
</div>
{% endblock %}